- javascript "search"

%ul.nav.nav-tabs
  %li.active
    %a#search_events{ :href => search_events_path } Events
  %li
    %a#search_resources{ :href => search_resources_path } Resources
  %li
    %a#search_facilities{ :href => search_facilities_path } Facilities

.tab-content
  .tab-pane.active
  .pjax-nav-content.hide
    = hidden_field_tag 'active-pane', '#' + params[:action]

%a#BANG{ :href => search_events_path + '?yo=45'} sad
#results.pjax-results
