-# This file encapsulates every page

!!! 5 -# Compliance with html 5
%html
  %head
    %title Fellowship Church Scheduler
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags -# protects against some kind of cross-site request forgery

  %body
    #main
      = yield