-# This file encapsulates every page

-# Compliance with html 5
!!! 5
%html
  %head
    %title Fellowship Church Scheduler
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    
    -# protects against some kind of cross-site request forgery
    = csrf_meta_tags

  %body
    #main
      = yield